/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles here instead of style.css so it 
is easier to update the theme. Simply copy an existing 
style from style.css to this file, and modify it to 
your liking.

*/

body {
	line-height: 1.5;
	background: url("styles/grey/wood.png");
}

#navigation {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: -moz-linear-gradient(top,#333,#000);
	background: -webkit-gradient(linear,left top,left bottom,from(#333),to(#000));
}

#header {
	margin-bottom: 40px;
}

#logo .site-title, #logo .site-description {
	position: absolute;
	top: -3px;
	left: 19px;
	padding-left: 1px;
}

#logo .site-title a {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	text-transform: uppercase;
	color: #B0B0B0;
}

#pagenav {
	position: absolute;
	left: 5px;
	top: 32px;
	font-family: Arial, sans-serif;
}

#pagenav a {
	font-family: Arial;
	font-size: 10pt;
	color: #fff;
}

#pagenav li.rss a {
	background: transparent;
	color: #fff;
}

#pagenav li.current_page_item a, #pagenav li a:hover {
    border-color: DarkOliveGreen;
}

#main {
	background-color: #fff;
	width: 738px;
	border-radius: 8px;
}

#content {
	background-color: #111;
	padding-right: 24px;
	border-radius: 8px;
	box-shadow: 0 0 16px #000000;
}

.col-full {
	width: 959px;
}

#socialsharing {
	margin-bottom: 24px;
}

.post .title {
	font-family: Arial, sans-serif;
	color: #000000;
	font-size: 16pt;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	border-bottom: 0;
	margin: 0;
}

# Wenn Post ausgewählt:
.post .title a:link, .post .title a:visited {
	color: #000000;
	font-weight: bolder;
}

.post .date {
	color: DarkOliveGreen;
	left: -16px;
	top: 42px;
	opacity: 0.5;
	background: none;
}

.post .date .day {
	font-size: 26px;
	line-height: 17px;
}

.post .date .year  {
	left: 20px;
	position: absolute;
	top: 37px;
}

.post {
	background-color: #fff;
	border-style: none;
	border-width: 0 0 0;
	margin: 4px;
	padding-bottom: 50px;
	padding-top: 50px;
	#border-radius: 8px;

}

.post .entry {
	font-family: Arial,sans-serif;
	color: #333;
	font-size: 13pt;
}

.post .entry a {
	#letter-spacing: -0.6pt;
}

.post code {
	background-color: #EEEEEE;
	display: block;
	font-size: 10pt;
	margin-bottom: 20px;
	margin-top: 14px;
	padding: 5px;
	white-space: pre-wrap;
}

.entry blockquote {
	font-style: normal;
}

.entry ul {
	margin: 20px 0 15px;
	padding: 0 0 0 30px;
}

.entry ul li {
	margin: 0px 0 18px;
	list-style-type: disc;
}

.entry h3 {
	#font-family: "Palatino Linotype","Book Antiqua",Palatino,Georgia,times,"Times New Roman",times-roman,serif;
	color: #000;
}

a.readmore {
	font-family: Arial,sans-serif;
	font-size: 10pt;
	letter-spacing: 0pt;
	font-weight: bold;
}

.more_entries {
	background-color: #111;
	margin-top: 0;
	border-radius: 0 0 0 7px;
	border: 0;
	padding: 20px 54px;
}

.more_entries a {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 10pt;
	margin-top: 1px;
	color: #999;
}

.more_entries a:visited {
	color: #999;
}

.archive_header .catrss a {
	font-size: 10pt;
	font-weight: normal;
	text-decoration: none;
	color: #aaa;
}

#comments {
	border: none;
	border-top: 5px solid #efefef;
	margin: 0;
	padding: 0;
	margin-top: 80px;
	font-family: Arial, sans-serif;
}

#dsq-content .dsq-options {
	display: none;
}

#dsq-content #dsq-global-toolbar table {
	display: none;
}

.dsq-brlink {
	display: none;
}

.dsq-comment {
	padding: 8px;
	background-color: #eee;
}

#sidebar {
	width: 193px;
	font-family: Arial,sans-serif;
	font-size: 10pt;
	#text-align: right;
}

#sidebar a:link, a:visited {
	color: #999;
}

#sidebar a:hover, #sidebar.widget_categories ul li a:hover {
	color: #fff;
	font-weight: normal;
}

.widget h3 {
	font-size: 10pt;
	font-weight: normal;
	color: #999;
}

#sidebar .widget_categories ul li a:link, #sidebar .widget_categories ul li a:visited  {
	background: none;
	padding-left: 0;
	border: none;
	color: #666;
}

#sidebar div.textwidget p img {
	margin-bottom: 20px;
}

#footer {
	background-color: transparent;
}

#footer p {
	font-size: 10pt;
	padding-left: 10px;
	color: #888;

}
