/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles here instead of style.css so it 
is easier to update the theme. Simply copy an existing 
style from style.css to this file, and modify it to 
your liking.

*/

body {
	background: #eee;
	line-height: 1.7;
}

#navigation {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#header {
	margin-bottom: 40px;
}

#logo .site-title, #logo .site-description {
	position: absolute;
	top: -3px;
	left: 19px;
	padding-left: 1px;
}

#logo .site-title a {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	text-transform: uppercase;
	color: #B0B0B0;
}

#pagenav {
	position: absolute;
	left: 5px;
	top: 32px;
	font-family: Arial, sans-serif;
}

#pagenav a {
	font-family: Arial;
	font-size: 10pt;
}

#pagenav li.rss a {
	background: transparent;
}

.post .title {
	font-family: "Palatino Linotype","Book Antiqua",Palatino,Georgia,times,"Times New Roman",times-roman,serif;
	font-weight: 100;
	line-height: 1.2;
}

# Wenn Post ausgwählt:
h1 .title a {
	font-weight: 110;
}

.post .date {
	background:url("styles/green/date.png") no-repeat scroll left top transparent;
}

.post {
	background-color: #fcfcfc;
}

.post .entry {
	font-family: "Palatino Linotype","Book Antiqua",Palatino,Georgia,times,"Times New Roman",times-roman,serif;
	color: #333;
	font-size: 12pt;
}

a.readmore {
	font-family: Arial,sans-serif;
	font-size: 10pt;
	font-weight: bold;
}

.more_entries {
	margin-top: -50px;
}

.more_entries a {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 10pt;
	margin-top: 1px;
}

#footer {
	background-color: transparent;
}

#footer p {
	font-size: 10pt;
	padding-left: 10px;
	color: #888;

}
