/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles here instead of style.css so it 
is easier to update the theme. Simply copy an existing 
style from style.css to this file, and modify it to 
your liking.

*/

body {
	background: #eee;
	line-height: 1.7;
}

#navigation {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#header {
	margin-bottom: 40px;
}

#logo .site-title, #logo .site-description {
	position: absolute;
	top: -3px;
	left: 19px;
	padding-left: 1px;
}

#logo .site-title a {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	text-transform: uppercase;
	color: #B0B0B0;
}

#pagenav {
	position: absolute;
	left: 5px;
	top: 32px;
	font-family: Arial, sans-serif;
}

#pagenav a {
	font-family: Arial;
	font-size: 10pt;
}

#pagenav li.rss a {
	background: transparent;
}

#main {
	background-color: #fff;
	width: 738px;
}

.col-full {
	width: 959px;
}

.post .title {
	font-family: Arial, sans-serif;
	color: #000000;
	font-size: 16pt;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	border-bottom: 0;
	margin: 0;
}

# Wenn Post ausgewählt:
.post .title a:link, .post .title a:visited {
	color: #000000;
	font-weight: bolder;
}

.post .date {
	background:url("styles/green/date.png") no-repeat scroll left top transparent;
}

.post .date .day {
	font-size: 26px;
	line-height: 17px;
}

.post .date .year  {
	color: #FFFFFF;
	left: 20px;
	position: absolute;
	top: 37px;
}

.post {
	background-color: #fff;
	border-style: none none dotted;
	border-width: 0 0 1px;
	margin: 0;
	padding-bottom: 100px;

}

.post .entry {
	font-family: "Palatino Linotype","Book Antiqua",Palatino,Georgia,times,"Times New Roman",times-roman,serif;
	color: #333;
	font-size: 12pt;
}

.post .entry a {
	letter-spacing: -0.6pt;
}

.post code {
	background-color: #EEEEEE;
	display: block;
	font-size: 10pt;
	margin-bottom: 20px;
	margin-top: 14px;
	padding: 5px;
	white-space: pre-wrap;
}

.entry ul {
	margin: 20px 0 15px;
	padding: 0 0 0 30px;
}

.entry ul li {
	margin: 0px 0 18px;
	list-style-type: disc;
}

.entry h3 {
	#font-family: "Palatino Linotype","Book Antiqua",Palatino,Georgia,times,"Times New Roman",times-roman,serif;
	color: #000;
}

a.readmore {
	font-family: Arial,sans-serif;
	font-size: 10pt;
	letter-spacing: 0pt;
	font-weight: bold;
}

.more_entries {
	margin-top: 0;
	border: 0;
}

.more_entries a {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 10pt;
	margin-top: 1px;
}

.archive_header .catrss a {
	font-size: 10pt;
	font-weight: normal;
	text-decoration: none;
	color: #aaa;
}

#disqus_thread  {
	font-family: Arial, sans-serif;
	padding: 7px;
	background-color: #eee;
}

#dsq-content .dsq-comment-message {
	background-color: #FFFFFF;
	color: #000000;
	font-family: "Palatino Linotype","Book Antiqua",Palatino,Georgia,times,"Times New Roman",times-roman,serif;;
	font-size: 12pt;
	padding: 12px;
	margin-top: 0;
}

#sidebar {
	width: 193px;
	font-family: Arial,sans-serif;
	font-size: 10pt;
}

.widget h3 {
	font-size: 10pt;
	font-weight: normal;
	color: #000;
}

.widget ul li a:link, .widget ul li a:visited  {
	background: none;
	border-bottom: 1px solid #ddd;
	padding-left: 0;
}

.widget ul li a:hover {
	font-weight: normal;
	color: #000;
}


#footer {
	background-color: transparent;
}

#footer p {
	font-size: 10pt;
	padding-left: 10px;
	color: #888;

}
