html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,acronym,abbr,blockquote,pre,a,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}
body {
  line-height: 1.5
}
blockquote,q {
  quotes: none
}
blockquote: before,blockquote: after,q: before,q: after {
  content: '';
  content: none
}
: focus {
  outline: 0
}
ins {
  text-decoration: none
}
del {
  text-decoration: line-through
}
code, code p {
  font-size: 11pt;
  background-color: black;
  color: white;
  display: block;
  padding: 16px;
  margin-bottom: 1.5em;
  border-radius: 12px;
  white-space: pre;
  line-height: 1.2em;
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
a
img {
  border: none
}
body {
  background : url(/wordpress/wp-content/themes/wu-wei/images/background.png) repeat top left;
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 75%;
  font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,sans-serif;
  text-shadow: 0 -1px 1px rgba(255,255,255,0.005)
}
p {
  font-size: 14pt;
  line-height: 1.5em;
  margin: 0 0 1.5em
}
small {
  font-size: 0.75em
}
a:link, a:visited {
  color: #700;
  text-decoration: none
}
a:hover {
  color: #000;
}
img {
  margin: 0
}
img.alignleft {
  margin-right: 1.5em
}
img.alignright {
  margin-left: 1.5em
}
.full-column {
  border-bottom: 1px solid #999;
  background-color: #fff;
}
.center-column {
  width: 67em;
  margin: 0px auto;
  text-align: left;
  clear: both
}
.alignright {
  float: right
}
.alignleft {
  float: left
}
.aligncenter,div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.wp-caption {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 4px;
  margin: 10px
}
.wp-caption
img {
  margin: 0;
  padding: 0;
  border: 0 none
}
.wp-caption p.wp-caption-text {
  font-size: 10px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0
}
.clearboth {
  clear: both
}
.navigation {
  padding: 0.333em 0;
  font-size: 1.15em;
  border-top: 1px solid #999
}
.pagetitle {
  padding: 0.333em 0;
  font-size: 0.2em;
  color: #999;
  position: relative;
  border-top: 1px solid #999
}
.pagetitle
span {
  position: absolute;
  left: 240px
}
#searchform {
  margin: 0 0 1.5em;
  font-size: 1.0em
}
ul#menu {
  margin: 0;
  padding: 0
}
ul#menu
li {
  font-size: 0.887em;
  float: left;
  margin-right: 1.819em;
  margin-left: 5px;
  padding: 0;
  display: block;
  list-style: none
}
ul#menu li a: link, ul#menu li a: visited {
  display: block;
  padding: 7px 0 10px;
  line-height: 1em;
  width: 9.08em;
  color: #999;
  font-weight: bold;
  text-decoration: none;
  border-top: 3px solid #fff;
  text-transform: lowercase
}
ul#menu li a: hover {
  border-top: 3px solid #f33
}
ul#menu li a
span {
  font-size: 0.833em;
  color: #999;
  text-transform: lowercase
}
ul#menu
.last {
  margin-right: 0
}
.blog-name {
  font-size: 31pt;
  font-weight: 800;
  line-height: 1em;
  text-shadow: #e5e5ee 2px 2px 2px;
  text-transform: uppercase;
}
.blog-name a {
  color: #700;
}
.blog-name a:hover {
  color: #999;
}
.description {
  margin-top: 0.5em;
  font-size: 1.25em;
  color: #999
}
#header {
  font-size: 54%;
  padding: 3em 0;
  text-align: center;
}
.post,.page {
  border-top: 1px dotted #999;
  padding-top: 4em;
  margin-bottom: 4em;
}
* html .post, * html
.page {
  height: 1%
}
.sticky {
  border-top: 3px solid #999
}
h1 {
  color: #999;
  font-size: 18pt;
  font-weight: 600;
  line-height: 1.2em;
  padding-bottom: 0.1em;
  text-shadow: #e5e5ee 1px 1px 0px
}
h1 a: link, h1 a: visited {
  color: #999;
  text-decoration: none
}
h1 a: hover {
  color: #999
}
.post-info {
  float: left;
  width: 18.333em;
  margin: 0 4em 0 0
}
.post-info.single {
  width: 63em;
  margin: 0;
  margin-bottom: 24px;
}
.post-info h1 a {
  color: #2d6bb0;
}
.post-info h1 a:hover {
    color: #999;
  }
.timestamp {
  float: left;
  font-size: 1.2em;
  color: #999;
  padding-left: 1px;
}
#sharing {
  margin-top: 1.5em;
  opacity: 0.6;
}
.post-content {
  color: black;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14pt;
  float: left;
  text-align: justify;
  width: 28em;
  overflow: visible
}
.post-content.single {
  width: 42.5em;
}
.post-content
h2 {
  font-size: 2.0em;
  margin-bottom: 0.75em;
  font-weight: normal;
  text-align: left;
}
.post-content
h3 {
  font-size: 1.5em;
  margin-bottom: 1em;
  font-weight: normal;
  text-align: left;
}
.post-content
h4 {
  font-size: 1.167em;
  margin-bottom: 0.867em;
  font-weight: normal;
  text-align: left;
}
.post-content a {
  color: #2d6bb0;
}
.post-content a:hover {
  text-decoration: underline;
}
.post-content a.readmore {
  font-size: 1em;
  font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,sans-serif;
  font-weight: 600;
}
.post-content a.readmore:hover {
  text-decoration: none;
  color: #999;
}
#projects {
  text-align: left;
}
blockquote {
  background: #fff url(/blog/wp-content/themes/wu-wei/images/blockquote.gif) no-repeat top left;
  border-left: 2px solid #999;
  padding-left: 12px;
  font-style: italic
}
.pull-1 {
  margin-left: -8.571em;
  width: 41.428em
}
.pull-2 {
  margin-left: -17.143em;
  width: 50em
}
* html .pull-1, * html .pull-2 {
  position: relative
}
.post-content ul, .post-content
ol {
  margin: 0 0 1.5em;
  padding: 0;
  font-size: 1.0em
}
.post-content ul li, .post-content ol
li {
  margin-left: 3em;
  padding-left: 0em;
  line-height: 1.5em
}
.post-content ul li ul, .post-content ol li ol, .post-content ul li ol, .post-content ol li
ul {
  font-size: 1.0em
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0 0 1.5em
}
dl {
  margin: 0 0 1.5em
}
dt {
  font-weight: bold;
  font-size: 1.167em
}
dd {
  font-size: 1.167em;
  margin-left: 8.571em
}
acronym,abbr {
  border-bottom: 1px dotted #333
}
hr {
  color: #999;
  height: 1px;
  background-color: #999;
  border: 0
}
.more-link {
  display: block;
  margin-top: 1.5em
}
.post-meta-data {
  position: relative;
  margin: 0 0 0 10em;
  height: 100%;
  padding: 0.333em 0;
  border-top: 1px solid #999
}
.post-meta-data
span {
  position: absolute;
  left: 10em;
  top: 0.333em
}
.gallery {
  margin: 0 0 1.5em 0;
  padding: 0
}
.gallery-item {
  float: left;
  margin: 10px 0 0 0;
  text-align: left;
  padding: 0
}
.gallery img, .gallery a
img {
  border: solid 1px #D9D9D9;
  background: #fff;
  padding: 4px;
  margin: 0
}
.gallery a: hover
img {
  border-color: #666;
  background: #fff
}
.gallery-caption {
  margin: 0 0 1.5em 0;
  font-size: 0.833em;
  line-height: 1.167em;
  color: #999
}
table {
  margin: 1.5em 0;
  padding: 0;
  border-collapse: collapse
}
table
th {
  padding: 0.5em;
  border: 1px solid #999;
  background-color: #f8f8f8
}
table
tr {
  margin: 0;
  padding: 0
}
table tr
td {
  padding: 0.5em;
  border: 1px solid #999
}
#twitterfollow {
  vertical-align: middle;
  padding: 8px 8px;
  padding-bottom: 21px;
  margin-right: -11px;
  margin-top: 48px;
  margin-bottom: -48px;
  border-radius: 8px 8px 0 0;
  text-align: center;
  background-color: #d9d9d9;
}
#twitterfollow span.note {
  vertical-align: top;
  display: inline-block;
  padding-right: 4px;
  padding-top: 15px;
}
iframe.twitter-follow-button {
  vertical-align: bottom;
}
#comment-wrapper {
  border-top: 1px solid #999;
  background-color: #fff;
  padding: 32px;
}
h3#comments {
  font-size: 1.15em;
  position: relative;
  height: 100%;
  padding: 0.333em 0;
  color: #999;
  font-weight: normal
}
h3#comments
span {
  position: absolute;
  left: 6.667em;
  top: 0.333em
}
ol.commentlist {
  margin: 0;
  padding: 0
}
ol.commentlist
li {
  list-style: none;
  position: relative;
  border-top: 1px solid #999;
  padding: 0.333em 0 0 10em
}
ol.commentlist
li.bypostauthor {
  border-top: 1px solid #6a797d
}
ol.commentlist li.comment-author-admin {
  border-top: 1px solid #6a797d
}
ol.commentlist li.comment
div.vcard {
  padding-top: 1.0em
}
ol.commentlist li.comment div.vcard
cite.fn {
  font-size: 1.167em
}
ol.commentlist li.comment div.vcard
img.avatar {
  position: absolute;
  left: 0em;
  padding-top: 0.333em
}
* html ol.commentlist li.comment div.vcard
img.avatar {
  left: -10em
}
ol.commentlist li.comment div.vcard
span.says {
  visibility: hidden
}
ol.commentlist li.comment div.comment-meta {
  margin-bottom: 1em
}
ol.commentlist li.comment
div.reply {
  position: absolute;
  top: 8px;
  right: 3px
}
ol.commentlist li.pingback
div.vcard {
  padding-top: 1.0em
}
ol.commentlist li.pingback div.vcard
cite.fn {
  font-size: 1.167em
}
ol.commentlist li.pingback div.vcard
span.says {
  visibility: hidden
}
ol.commentlist li.pingback
div.reply {
  position: absolute;
  top: 8px;
  right: 3px
}
#respond {
  position: relative;
  padding: 0;
  border-top: 1px solid #999;
  margin-bottom: 3em
}
#respond
h3 {
  font-size: 1.25em;
  color: #959ea1;
  padding: 0.333em 0;
  font-weight: normal
}
.cancel-comment-reply {
  position: absolute;
  top: 8px;
  right: 3px
}
#commentform {
  border-top: 1px solid #999;
  padding-top: 1em
}
.nocomments {
  border-top: 1px solid #999;
  padding: 1em 0 0 8.571em
}
.form-field {
  position: relative;
  margin-bottom: 1em;
  height: 100%
}
.form-field
span {
  position: absolute;
  left: 8.571em
}
.form-field #author, .form-field #email, .form-field
#url {
  background-color: #fcfcfc;
  border: 1px solid #333
}
.form-field span
textarea#comment {
  background-color: #fcfcfc;
  border: 1px solid #333;
  width: 32.857em;
  height: 200px;
  font-size: 1em;
  font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,sans-serif
}
.comment-box {
  margin-bottom: 200px
}
#projectwrap {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 40px
}
#projectimg {
  float: left;
  width: 200px;
  height: 150px;
  margin-right: 20px;
  border: none
}
#projectcontent {
  width: auto
}
.center-column-sidebar {
  width: 67em;
  margin: 0px auto;
  margin-top: 64px;
  text-align: left;
  clear: both;
  overflow: hidden
}
.center-column-sidebar p {
  font-size: 10pt
}
#sidebar {
  width: 67em;
  border-top: 4em solid #999;
  margin: 4em 0 1em 0;
  padding: 1em 0 0 0
}
#sidebar
li {
  display: inline;
  width: 100%;
  margin-right: 4em;
  overflow: hidden;
  float: left;
  list-style: none
}
#sidebar
.widget {
  font-size: 1.167em;
  line-height: 1.5em
}
#sidebar li
h2 {
  font-size: 1.1674em;
  color: #6a797d;
  padding: 0.333em 0
}
#sidebar li ul li
a {
  display: block
}
#sidebar img {
  float: left;
  margin-top: 5px;
  margin-right: 32px;
  margin-bottom: 140px;
}
#footer {
  margin: 2em 0;
  padding: 0.5em 0 0 0;
  border-top: 3px solid #eee;
  font-size: 0.916em;
  color: #6a797d;
  line-height: 1em
}
#footer a: link, #footer a: visited {
  margin: 0;
  padding: 0;
  color: #6a797d;
  font-weight: bold
}
.credits {
  float: left
}
.bottom-link {
  float: right
}

