html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,acronym,abbr,blockquote,a,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {

  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Roboto", "Helvetica", sans-serif;
  line-height: 1.5;
  background-color: #fffefe;
}
blockquote,q {
  quotes: none
}
blockquote: before,blockquote: after,q: before,q: after {
  content: '';
  content: none
}
: focus {
  outline: 0
}
ins {
  text-decoration: none
}
del {
  text-decoration: line-through
}
.filename.beforecode {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-family: monospace;
  font-size: 10pt;
  background-color: #f2fff2;
  color: #999;
  border-radius: 12px 12px 0 0;
  padding-top: 8px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #ddd;
  border-bottom: 0;
}
pre {
  margin-top: -24px;
  padding: 0;
  border: 0;
  line-height: 1.0;
}
code {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-size: 10pt;
  background-color: #f7fff7;
  color: black;
  display: block;
  padding: 16px;
  margin-bottom: 1.5em;
  border-radius: 12px;
  white-space: pre;
  line-height: 1.2em;
  overflow-x: auto;
  border: 1px solid #ddd;
}
code span.highlight, code span.addedline {
  color: #080;
}
code.inline {
  display: inline;
  padding: 4px;
  border: 0;
  border-radius: 0;
  margin: 0;
  line-height: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
a
img {
  border: none
}
p {
  font-weight: 300;
  font-size: 14pt;
  line-height: 1.5em;
  margin: 0 0 1.5em;
}
div.single p {
  color: #000;
  font-family: "Roboto Slab";
  font-size: 14pt;
  letter-spacing: -0.02rem;
  line-height: 1.5em;
  margin: 0 0 1.5em;
  text-align: left;
  width: 80%;
}
small {
  font-size: 0.75em
}
a:link, a:visited {
  color: #FF1300;
  text-decoration: none
}
a:hover {
  text-decoration: underline;
  opacity: 1;
}
img {
  margin: 0
}
img.alignleft {
  margin-right: 1.5em
}
img.alignright {
  margin-left: 1.5em
}
.full-column {
  border-bottom: 1px solid #888;
  background-color: #777;
  padding-bottom: 6px;
  margin-top: -8px;
}
.center-column {
  width: 880px;
  margin: 0px auto;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  clear: both
}
.alignright {
  float: right
}
.alignleft {
  float: left
}
.aligncenter,div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.wp-caption {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 4px;
  margin: 10px
}
.wp-caption
img {
  margin: 0;
  padding: 0;
  border: 0 none
}
.wp-caption p.wp-caption-text {
  font-size: 10px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0
}
.clearboth {
  clear: both
}
.navigation {
  padding: 0.333em 0;
  font-size: 1.15em;
  border-top: 1px solid #999
}
.pagetitle {
  padding: 0.333em 0;
  font-size: 0.2em;
  color: #999;
  position: relative;
  border-top: 1px solid #999
}
.pagetitle
span {
  position: absolute;
  left: 240px
}
#searchform {
  margin: 0 0 1.5em;
  font-size: 1.0em
}
ul#menu {
  margin: 0;
  padding: 0
}
ul#menu
li {
  font-size: 0.887em;
  float: left;
  margin-right: 1.819em;
  margin-left: 5px;
  padding: 0;
  display: block;
  list-style: none;
  opacity: 0.5;
}
ul#menu li a {
  color: #fff;
}
ul#menu li a: link, ul#menu li a: visited {
  display: block;
  padding: 7px 0 10px;
  line-height: 1em;
  width: 9.08em;
  text-decoration: none;
}
ul#menu li a:hover {
  opacity: 1;
}
ul#menu li a
span {
  font-size: 0.833em;
}
.blog-name {
  font-weight: 100;
  font-size: 38pt;
  line-height: 1em;
  text-shadow: #e5e5ee 2px 2px 2px;
  text-transform: uppercase;
}
.blog-name a {
  color: #FF7C5B;
  white-space: nowrap;
}
.description {
  margin-top: 0.5em;
  font-size: 1.25em;
  color: #999
}
#header {
  font-size: 54%;
  padding: 6em 0;
  text-align: center;
}
.post,.page {
  border-top: 1px dotted #999;
  padding-top: 4em;
  margin-bottom: 4em;
}
* html .post, * html
.page {
  height: 1%
}
.sticky {
  border-top: 3px solid #999
}
h1 {
  font-weight: 300;
  color: #999;
  font-size: 14pt;
  line-height: 1.5em;
  padding-bottom: 0.1em;
  text-shadow: #e5e5ee 1px 1px 0px
}
h1 a: link, h1 a: visited {
  color: #999;
  text-decoration: none
}
.post-info {
  float: left;
  width: 260px;
  margin: 0 40px 0 0
}
.post-info.single {
  width: 100%;
  margin: 0;
  margin-bottom: 24px;
}
.post-info h1 a {
  color: #355CCC;
}
.post-info.single h1 {
  font-weight: 100;
  font-size: 42pt;
}
.timestamp {
  font-weight: 100;
  float: left;
  font-size: 14pt;
  color: #999;
  padding-left: 1px;
}
#sharing {
  margin-top: 1.5em;
  opacity: 0.6;
}
.post-content {
  color: black;
  font-size: 14pt;
  float: left;
  text-align: justify;
  width: 580px;
  overflow: visible
}
.post-content.single {
  width: 100%;
}
.post-content .introduction {
  color: #2D6BB0;
}
.post-content
h2 {
  font-size: 2.0em;
  margin-bottom: 0.75em;
  text-align: left;
}
.post-content
h3 {
  font-size: 1.5em;
  margin-bottom: 1em;
  text-align: left;
}
.post-content
h4 {
  font-size: 1.167em;
  margin-bottom: 0.867em;
  text-align: left;
}
.post-content a {
  color: #355CCC;
}
.post-content a.readmore {
  font-weight: 100;
  font-size: 14pt;
}
#projects {
  text-align: left;
}
blockquote {
  background: #fff url(/blog/wp-content/themes/wu-wei/images/blockquote.gif) no-repeat top left;
  border-left: 2px solid #999;
  padding-left: 12px;
  font-style: italic
}
.pull-1 {
  margin-left: -8.571em;
  width: 41.428em
}
.pull-2 {
  margin-left: -17.143em;
  width: 50em
}
* html .pull-1, * html .pull-2 {
  position: relative
}
.post-content ul, .post-content ol {
  list-style: square outside;
  width: 80%;
  font-family: "Roboto Slab";
  letter-spacing: -0.02rem;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  font-size: 14pt;
  text-align: left;
}
.post-content ul li, .post-content ol li {
  margin-left: -4px;
  padding-left: 4px;
  padding-bottom: 1.5em;
}
.post-content ul li ul, .post-content ol li ol, .post-content ul li ol, .post-content ol li
ul {
  font-size: 1.0em
}
dl {
  margin: 0 0 1.5em
}
dt {
  font-size: 1.167em
}
dd {
  font-size: 1.167em;
  margin-left: 8.571em
}
acronym,abbr {
  border-bottom: 1px dotted #333
}
hr {
  color: #999;
  height: 1px;
  background-color: #999;
  border: 0
}
.more-link {
  display: block;
  margin-top: 1.5em
}
.post-meta-data {
  position: relative;
  margin: 0 0 0 10em;
  height: 100%;
  padding: 0.333em 0;
  border-top: 1px solid #999
}
.post-meta-data
span {
  position: absolute;
  left: 10em;
  top: 0.333em
}
.gallery {
  margin: 0 0 1.5em 0;
  padding: 0
}
.gallery-item {
  float: left;
  margin: 10px 0 0 0;
  text-align: left;
  padding: 0
}
.gallery img, .gallery a
img {
  border: solid 1px #D9D9D9;
  background: #fff;
  padding: 4px;
  margin: 0
}
.gallery a: hover
img {
  border-color: #666;
  background: #fff
}
.gallery-caption {
  margin: 0 0 1.5em 0;
  font-size: 0.833em;
  line-height: 1.167em;
  color: #999
}
table {
  margin: 1.5em 0;
  padding: 0;
  border-collapse: collapse
}
table
th {
  padding: 0.5em;
  border: 1px solid #999;
  background-color: #f8f8f8
}
table
tr {
  margin: 0;
  padding: 0
}
table tr
td {
  padding: 0.5em;
  border: 1px dotted #777
}
#twitterfollow {
  font-size: 14pt;
  vertical-align: middle;
  padding: 8px 8px;
  padding-bottom: 21px;
  margin-right: -11px;
  margin-top: 48px;
  margin-bottom: 0px;
  border-radius: 8px;
  text-align: center;
  background-color: #d9d9d9;
}
#twitterfollow span.note {
  vertical-align: top;
  display: inline-block;
  padding-right: 4px;
  padding-top: 15px;
}
iframe.twitter-follow-button {
  vertical-align: bottom;
}
#comment-wrapper {
  margin-bottom: 64px;
}
h3#comments {
  font-size: 1.15em;
  position: relative;
  height: 100%;
  padding: 0.333em 0;
  color: #999;
}
h3#comments
span {
  position: absolute;
  left: 6.667em;
  top: 0.333em
}
ol.commentlist {
  margin: 0;
  padding: 0
}
ol.commentlist
li {
  list-style: none;
  position: relative;
  border-top: 1px solid #999;
  padding: 0.333em 0 0 10em
}
ol.commentlist
li.bypostauthor {
  border-top: 1px solid #6a797d
}
ol.commentlist li.comment-author-admin {
  border-top: 1px solid #6a797d
}
ol.commentlist li.comment
div.vcard {
  padding-top: 1.0em
}
ol.commentlist li.comment div.vcard
cite.fn {
  font-size: 1.167em
}
ol.commentlist li.comment div.vcard
img.avatar {
  position: absolute;
  left: 0em;
  padding-top: 0.333em
}
* html ol.commentlist li.comment div.vcard
img.avatar {
  left: -10em
}
ol.commentlist li.comment div.vcard
span.says {
  visibility: hidden
}
ol.commentlist li.comment div.comment-meta {
  margin-bottom: 1em
}
ol.commentlist li.comment
div.reply {
  position: absolute;
  top: 8px;
  right: 3px
}
ol.commentlist li.pingback
div.vcard {
  padding-top: 1.0em
}
ol.commentlist li.pingback div.vcard
cite.fn {
  font-size: 1.167em
}
ol.commentlist li.pingback div.vcard
span.says {
  visibility: hidden
}
ol.commentlist li.pingback
div.reply {
  position: absolute;
  top: 8px;
  right: 3px
}
#respond {
  position: relative;
  padding: 0;
  border-top: 1px solid #999;
  margin-bottom: 3em
}
#respond
h3 {
  font-size: 1.25em;
  color: #959ea1;
  padding: 0.333em 0;
}
.cancel-comment-reply {
  position: absolute;
  top: 8px;
  right: 3px
}
#commentform {
  border-top: 1px solid #999;
  padding-top: 1em
}
.nocomments {
  border-top: 1px solid #999;
  padding: 1em 0 0 8.571em
}
.form-field {
  position: relative;
  margin-bottom: 1em;
  height: 100%
}
.form-field
span {
  position: absolute;
  left: 8.571em
}
.form-field #author, .form-field #email, .form-field
#url {
  background-color: #fcfcfc;
  border: 1px solid #333
}
.form-field span
textarea#comment {
  background-color: #fcfcfc;
  border: 1px solid #333;
  width: 32.857em;
  height: 200px;
  font-size: 1em;
}
.comment-box {
  margin-bottom: 200px
}
#projectwrap {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 40px
}
#projectimg {
  float: left;
  width: 200px;
  height: 150px;
  margin-right: 20px;
  border: none
}
#projectcontent {
  width: auto
}
.center-column-sidebar {
  border-top: 1px solid #999;
  background-color: #eee;
  width: 100%;
  margin: 0px auto;
  margin-top: 64px;
  text-align: left;
  clear: both;
  overflow: hidden
}

.center-column-sidebar p {
  font-size: 14pt;
}
#sidebar {
  width: 100%;
  margin: 4em 0 1em 0;
  padding: 1em 0 0 0
}
#sidebar
li {
  display: inline;
  width: 100%;
  margin-right: 4em;
  overflow: hidden;
  float: left;
  list-style: none
}
#sidebar
.widget {
  font-size: 14pt;
  line-height: 1.5em
}
#sidebar li
h2 {
  font-size: 1.1674em;
  color: #6a797d;
  padding: 0.333em 0
}
#sidebar li ul li
a {
  display: block
}
#sidebar img {
  float: left;
  margin-top: 5px;
  margin-right: 107px;
  margin-bottom: 16px;
}
#footer {
  height: 160px;
  background-color: #eee;
}
#footer .image {
  float: left;
  width: 400px;
  margin: 0 40px 0 0;
}
#footer .text {
  padding-top: 8px;
  color: black;
  float: left;
  width: 440px;
}
#footer .text p {
  font-size: 12pt;
  text-align: right;
  padding-right: 16px;
}

@media screen and (max-width: 912px), screen and (max-device-width: 912px) {
  .full-column {
    display: none;
  }
  .post, .page {
    border-top: 2px dotted #999;
  }
  .center-column {
    margin: 0;
    padding: 16px;
    padding-left: 32px;
    width: 94%;
  }
  .post-content, .post-info, .post-info.single, .post-content ul, .post-content ol  {
    width: 100%;
  }
  p, .post-content a.readmore, .timestamp, .post-content ul, .post-content ol {
    font-size: 36pt;
  }
  div.single p > a {
    word-break: break-all;
  }
  h1, .post-info.single h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    font-size: 48pt;
    font-weight: 300;
  }
  div.single p {
    width: 100%;
    font-size: 36pt;
  }
  span.filename, span.beforecode {
    position: relative;
    top: 61px
  }
  .blog-name a {
    font-weight: 300;
    font-size: 35pt;
    white-space: normal;
  }
  #footer .image, #footer .text {
    width: 100%;
  }
  #footer .text {
    padding-top: 36px;
  }
  #footer {
    height: 800px;
  }
  #footer .text p {
    text-align: left;
    font-size: 36pt;
    padding-left: 16px;
    padding-right: 16px;
  }
}
